@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Merriweather&display=swap');

:root {
    font-family: "Merriweather", "Arial", sans-serif;
}

*
{
  margin: 0;
  padding: 0;
}

body{
    height: 100vh;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.container {
    width: 600px;
    background-color: rgb(243, 222, 193);
    border-radius: 10px;
}

.container-title {
    margin: 20px 10px 10px;
    text-align: center;
}

.credit-card-types {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 35px 15px;
}

.card_item {
    height: 70px;
    width: 70px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}

.amex {
    background-image: url("../img/amex.svg");
}

.diners {
    background-image: url("../img/diners.svg");
}

.discover {
    background-image: url("../img/discover.svg");
}

.jcb {
    background-image: url("../img/jcb.svg");
}

.mastercard {
    background-image: url("../img/mastercard.svg");
}

.visa {
    background-image: url("../img/visa.svg");
}

.mir {
    background-image: url("../img/mir.svg");
}

.form {
    display: flex;
    margin: 0 25px 40px;
}

.input {
    width: 275px;
    height: 40px;
    flex: 1;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
}

.submit {
    background-color: rgb(58, 158, 123);
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.message {
    visibility: visible;
    display: flex;
    margin: 0 20px 20px;
}

.text {
    height: 18px;
    text-align: center;
    margin: auto;
    font-weight: 700;
    line-height: normal;
}

.blur {
    opacity: 0.2;
}

.selection {
    opacity: 1;
}